@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http.Features
@model UserCreateViewModel
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = Localizer["Create new user"];
}

<h2>@Localizer["Create new user"]</h2>

<form asp-action="Create">
  <div class="form-horizontal">
    <hr />
    @*where the error messages will be displayed*@
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
      @*name field*@
      <label class="col-md-2 control-label">@Localizer["Name"]</label>
      @*<label asp-for="Name" class="col-md-2 control-label"></label>*@
      <div class="col-md-10">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      @*name username*@
      <label class="col-md-2 control-label">@Localizer["Username"]</label>
      @*<label asp-for="UserName" class="col-md-2 control-label"></label>*@
      <div class="col-md-10">
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      @*name email*@
      <label class="col-md-2 control-label">@Localizer["Email"]</label>
      @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
      <div class="col-md-10">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger" />
      </div>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>
              @Localizer["Check"]
            </th>
            <th>
              @Localizer["Name"]
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @Html.EditorFor(x => Model.Roles)
        </tbody>
      </table>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value=@Localizer["Create"] class="btn btn-default" />
      </div>
    </div>
  </div>
</form>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
