@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http.Features
@model UserCreateViewModel
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = Localizer["Create new user"];
}

@*<h2>@Localizer["Create new user"]</h2>*@
@*<hr />*@

<style>
  #content
  {
    align-items: center;
    justify-content: center;
  }

  .create__content
  {
    padding: 24px;
    flex: none;
  }

  .mdl-textfield
  {
    width: 400px;
  }

  .mdl-card
  {
    width: 600px;
  }
</style>



<div id="content" class="mdl-layout mdl-js-layout mdl-color--grey-10">
  <main class="create__content">
    <div class="mdl-card mdl-shadow--6dp">
      <div class="mdl-card__supporting-text" align="center">

        <form id="create-form" asp-action="Create">
          @*where the error messages will be displayed*@
          <div asp-validation-summary="All" class="text-danger"></div>
          <div align="center">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              @*name field*@
              <label class="mdl-textfield__label" for="name">@Localizer["Name"]</label>
              <div>
                <input asp-for="Name" class="mdl-textfield__input" type="text" id="name" />
                <span asp-validation-for="Name" class="text-danger" />
              </div>
            </div>
          </div>

          <div align="center">
            @*name username*@
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="username">@Localizer["Username"]</label>
              <input asp-for="UserName" class="mdl-textfield__input" type="text" id="username" />
              <span asp-validation-for="UserName" class="text-danger" />
            </div>
          </div>
          <div align="center">
            @*name email*@
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="email">@Localizer["Email"]</label>
              <input asp-for="Email" class="mdl-textfield__input" type="email" id="email" />
              <span asp-validation-for="Email" class="text-danger" />
            </div>
          </div>
          <table class="mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">
                  @Localizer["Check"]
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  @Localizer["Name"]
                </th>
                <th class="mdl-data-table__cell--non-numeric"></th>
              </tr>
            </thead>
            <tbody>
              @Html.EditorFor(x => Model.Roles)
            </tbody>
          </table>

          <div align="right">
            <div>
              <input type="submit" value=@Localizer["Create"] class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>


</div>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

