@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@model IEnumerable<UserIndexViewModel>
@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = Localizer["Users"];
}

<style>
  .button-footer
  {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: #FFFFFF;
    text-align: center;
  }

  .mdl-list__item
  {
    border-collapse: collapse;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgb(255,255,255);
    white-space: nowrap;
    height: 60px;
  }

    .mdl-list__item:first-child
    {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mdl-list__item > button
    {
      display: none;
    }

    .mdl-list__item:hover > button
    {
      display: block;
    }
</style>

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--9-col">

    <h4>@Localizer["Users"]</h4>

    @*@if (await AuthorizationService.AuthorizeAsync(User, "Create Users"))
      {
        <div style="text-align: right">
          <button id="add" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored"
                  onclick="@("window.location.href='" + @Url.Action("Create", "User") + "'");">
            <i class="material-icons">add</i>
          </button>
        </div>
        <div class="mdl-tooltip" data-mdl-for="add">
          @Localizer["Add"]
        </div>
      }*@
    <ul class="index-list">
      @foreach (var model in Model)
      {
        <li id="itemList-@Html.Raw(model.Id)" class="mdl-list__item mdl-list__item--two-line js-deletable mdl-shadow--4dp ">

          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>@Html.DisplayFor(modelItem => model.Name)</span>
            <span class="mdl-list__item-sub-title">@Html.DisplayFor(modelItem => model.Email)</span>
          </span>

          @if (await AuthorizationService.AuthorizeAsync(User, "Update Users"))
          {
            <button id="edit-@Html.Raw(model.Id)" class="mdl-button mdl-js-button mdl-button--icon" onclick="@("window.location.href='" + @Url.Action("Edit", "User", new {id= model.Id }) + "'");">
              <i class="material-icons">mode_edit</i>
            </button>

            <span class="mdl-tooltip" data-mdl-for="edit-@Html.Raw(model.Id)">
              @Localizer["Edit"]
            </span>
          }

          @if (await AuthorizationService.AuthorizeAsync(User, "Delete Users"))
          {
            <button id="delete-@Html.Raw(model.Id)" class="mdl-button mdl-js-button mdl-button--icon" onclick="deleteUser('@Html.Raw(model.Id)')">
              <i class="material-icons">delete</i>
            </button>

            <span class="mdl-tooltip" data-mdl-for="delete-@Html.Raw(model.Id)">
              @Localizer["Delete"]
            </span>
          }
        </li>
      }
    </ul>
  </div>

  <!--//TODO:check class, probably change flex.-->
  <div class="button-footer mdl-color--grey-100">
    @if (await AuthorizationService.AuthorizeAsync(User, "Create Users"))
    {
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
              onclick="@("window.location.href='" + @Url.Action("Create", "User") + "'");">
        <i class="material-icons">add</i>
      </button>
      <div class="mdl-tooltip" data-mdl-for="add">
        @Localizer["Add"]
      </div>
    }
  </div>
</div>
<script>
  function deleteUser(id)
  {
    var usersUrl = 'api/users';
    const url = `${usersUrl}/${id}`;

    $.ajax({
      url: url,
      type: 'DELETE',
      contentType: "application/json;charset=utf-8",
      success: function (data)
      {
        // removes from DOM.
        $("#itemList-" + id).remove();

        // show message.
        // create a proper json to send data.message.
        message(data)
      },
      error: function (data)
      {
        // show error, throw error?
        // read documentation about web api, throw error.
        // I think error: is about when the service is not available?
      }
    });
  }

  function message(message)
  {
    var notification = document.querySelector('#snackbar');
    notification.MaterialSnackbar.showSnackbar(
    {
      message: message
    });
  }
</script>