@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@model IEnumerable<UserIndexViewModel>
@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = Localizer["Users"];
}

<style>
  .full-width {
    width: 100%;
  }
</style>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col full-width">
    <h4>@Localizer["Users"]</h4>
  </div>
  @if (await AuthorizationService.AuthorizeAsync(User, "Create Users"))
  {
    <div class="mdl-cell mdl-cell--12-col full-width mdl-textfield--align-right">
      <a id="add" asp-action="Create"><i class="material-icons">add</i></a>
      <div class="mdl-tooltip" data-mdl-for="add">
        @Localizer["Add"]
      </div>
    </div>
  }
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric ">
            <strong>@Localizer["Name"]</strong>
          </th>
          <th class="mdl-data-table__cell--non-numeric ">
            <strong>@Localizer["Username"]</strong>
          </th>
          <th class="mdl-data-table__cell--non-numeric ">
            <strong>@Localizer["Email"]</strong>
          </th>
          <th class="mdl-data-table__cell--non-numeric ">
            <strong>@Localizer["Roles"]</strong>
          </th>
          <th class="mdl-data-table__cell--non-numeric ">
            <strong>@Localizer["Actions"]</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
      {
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              @Html.DisplayFor(model => item.UserName)
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              @Html.DisplayFor(model => item.Email)
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              @Html.DisplayFor(model => item.Roles)
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              @if (await AuthorizationService.AuthorizeAsync(User, "Update Users"))
              {
                <a id="edit-@item.Id" class="btn btn-circle btn-icon-only red" title=@Localizer["Edit"] href='@Url.Action("Edit", "User", new { id = item.Id })'><i class="material-icons">mode_edit</i></a>
                <div class="mdl-tooltip" data-mdl-for="edit-@item.Id">
                  @Localizer["Edit"]
                </div>
              }

              @if (await AuthorizationService.AuthorizeAsync(User, "Delete Users"))
              {
                <a id="delete-@item.Id" class="btn btn-circle btn-icon-only red" title=@Localizer["Delete"] href='@Url.Action("Delete", "User", new { id = item.Id })'><i class="material-icons">delete_forever</i></a>
                <div class="mdl-tooltip" data-mdl-for="delete-@item.Id">
                  @Localizer["Delete"]
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>