@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<AdminRoleIndexViewModel>
@{
  ViewData["Title"] = Localizer["Roles"];
}

<h2>@Localizer["Roles"]</h2>

<div class="col-sm-12 text-right">
  <a asp-action="Create"><i class="fa fa-plus"></i></a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        @Localizer["Name"]
      </th>
      <th>
        @Localizer["Actions"]
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          <a class="btn btn-circle btn-icon-only red" title=@Localizer["Delete"] href='@Url.Action("Delete", "Role", new { name = item.Name })'>
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
