@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <!-- To render mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>@ViewData["Title"] - TemplateCore</title>

  <environment names="Development">
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/main.css" />

    <!-- Material Design -->
    <link rel="stylesheet" href="~/css/mdl/material.css" />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  </environment>
</head>
<body>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">TemplateCore</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a asp-area="" class="mdl-navigation__link" asp-controller="Home" asp-action="Index"><i class="material-icons">home</i> @Localizer["Home"]</a>
          @if (await AuthorizationService.AuthorizeAsync(User, "View Administrator Menu"))
          {
            <a asp-area="" class="mdl-navigation__link" asp-controller="User" asp-action="Index"><i class="fa fa-users"></i> @Localizer["Users"]</a>
            <a asp-area="" class="mdl-navigation__link" asp-controller="Role" asp-action="Index"><i class="fa fa-sitemap"></i> @Localizer["Roles"]</a>
          }
          <a asp-area="" class="mdl-navigation__link" asp-controller="Home" asp-action="About"><i class="material-icons">search</i> @Localizer["About"]</a>
          <a asp-area="" class="mdl-navigation__link" asp-controller="Home" asp-action="Contact"><i class="material-icons">mail_outline</i> @Localizer["Contact"]</a>
          @await Html.PartialAsync("_LoginPartial")
        </nav>
      </div>
    </header>
    @*if user is logged, show other links*@

    @*<div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Test</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>*@
    <main class="mdl-layout__content">
      <div class="page-content">
        <!-- Your content goes here -->
        @RenderBody()
      </div>
    </main>
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <footer class="mdl-mini-footer">
      @await Html.PartialAsync("_Footer")
    </footer>
  </div>

  <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/error.js" asp-append-version="true"></script>
    <script src="~/js/mdl/material.js"></script>
    <script src="~/js/mdl-custom-components/custom-components.js"></script>
  </environment>

  <environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    <script src="~/js/error.js" asp-append-version="true"></script>
    <script src="~/lib/material-design-lite/material.min.js"></script>
  </environment>
  @RenderSection("scripts", required: false)
</body>
</html>